<div class="container my-4">
    <div class="row flex-wrap">
        <div class="img col-12 col-sm-5 text-center">
            <img src="assets/contact-us.png" alt="">
        </div>
        <div class="form col-12 col-sm-7">
            <div class="h5 text-center">Write to us</div>
            <div class="w-50 mx-auto">
                <hr class="w-25 mx-auto color-primary">
            </div>
            <div class="mx-sm-5">
                <div class="mb-2 d-flex">
                    <div class="mb-3 w-50">
                        <label for="exampleFormControlInput1" class="form-label">Full Name</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Your name">
                    </div>
                    <div class="mb-3 ms-1 w-50 ms-sm-2">
                        <label for="exampleFormControlInput2" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="exampleFormControlInput2" placeholder="Your email">
                    </div>
                </div>
                <div class="mb-2 d-flex">
                    <div class="mb-3 w-100">
                        <label for="exampleFormControlInput3" class="form-label">Contact No.</label>
                        <input type="tel" class="form-control" id="exampleFormControlInput3" placeholder="Your phone number">
                    </div>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Message</label>
                    <textarea class="form-control" placeholder="Message" id="exampleFormControlTextarea1"
                        rows="3"></textarea>
                </div>
                <div class="w-50 mx-auto">
                    <button mat-flat-button color='accent' (click)="submit()" class="w-100 py-2 h6">Submit</button>

                </div>
            </div>
        </div>
    </div>
</div>