:host {
  background-color: lightgrey !important;
}

.detail-cards {
  background-color: white;
  width: calc(50% - 2rem);
  margin: 1rem;
  box-shadow: 0 0 20px 0 lightgrey;
  .content {
    white-space: pre-wrap;
  }
}

@media screen and (max-width: 500px) {
  .detail-cards {
    width: 80% !important;
  }
}
