<footer class="bg-dark text-light">
  <div class="container d-flex flex-wrap justify-content-sm-between justify-content-center py-5">
    <div class="intro text-center">
      <img src="assets/logo.jpeg" class="mb-3" alt="logo">
      <div class="content lh-lg">
        Start off your luxury airport transfer journey from anywhere in Newport to the Airports with the airport car
        service Newport and finish your journey with style in our new model rides.
      </div>
    </div>
    <hr class="my-4 d-block w-100 d-sm-none">
    <div class="links text-center px-4">
      <div class="fs-4 mb-3">Links</div>
      <ul class="navbar-nav mb-2">
        <li class="nav-item">
          <a class="nav-link fs-6" aria-current="page" [routerLink]="[ '/']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-6" [routerLink]="[ '/our-fleets']">Our Fleets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-6" [routerLink]="[ '/our-services']">Our Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-6" [routerLink]="[ '/about-us']">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-6" [routerLink]="[ '/terms-conditions-privacy-policy']">Terms and Conditions & Privacy
            policy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-6" [routerLink]="[ '/contact-us']">Contact Us</a>
        </li>
      </ul>
    </div>
    <hr class="my-4 w-100 d-block d-sm-none">

    <div class="contact-us px-4">
      <div class="fs-4 mb-3">Contact Us</div>
      <div class="py-2 d-flex align-items-center">
        <mat-icon>place</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp;
        www.bookings.leetwolf.org
      </div>
      <div class="py-2 d-flex align-items-center">
        <mat-icon>phone</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp;
        +1 987 654 3210
      </div>
      <div class="py-2 d-flex align-items-center">
        <mat-icon>email</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp;
        info@leetwolf.org
      </div>
    </div>
  </div>
  <div class="copyrights py-3 text-center fs-6 lh-lg fw-bold">
    Copyright © 2022 Boston Airport Limousine | Powered by Boston Airport Limousine
  </div>
</footer>