<div class="container-fluid">
    <app-carousel></app-carousel>
    <app-form class="form-position"></app-form>
    <div class="container about-us mt-5">
        <div class="row flex-wrap">
            <div class="col-12 col-sm-5">
                <img src="../../../assets/cars.png" class="mw-100" alt="">
            </div>
            <div class="col-12 col-sm-7 text-center">
                <div class="h4">Who are we?</div>
                <hr class="w-25 color-primary mx-auto">
                <div class="h6 lh-lg">The Boston Airport Limousine serves Boston city of Massachusetts, United States of
                    America is renowned for providing its clients with safe quality rides. For our clients we make
                    constant effort so we can provide them with car service they can be proud of. Our limousine car
                    services are reliable and safe for clients so they are convenient in our care. The Boston
                    Airport Limousine has served the transportation industry for years. With their year of
                    experience, they know how to make their clients satisfied with the service. When having a late
                    night prom night, hire our prom limousine ride where our drivers will personally drive you to
                    the venue and also bring you back. With the personalised prom limousine your safety will be
                    properly taken care of. The Boston Airport Limousine provides excellent car service with every
                    ride. </div>
            </div>
        </div>
    </div>

    <hr class="w-50 fw-bold mx-auto">
    <hr class="w-75 fw-bold mx-auto">
    <hr class="w-50 fw-bold mx-auto">

    <div class="container about-us mt-5 text-center our-fleet">
        <div class="h4">Our Fleets</div>
        <div class="w-50 mx-auto">
            <hr class="w-25 color-primary mx-auto">
        </div>
        <div class="h6 lh-lg">
            <div class="card-group">
                <div class="card text-start border-0 mat-elevation-z1 p-3 mx-2 mt-2">
                    <img src="../../../assets/cadillac.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="h5">Cadillac</div>
                        <div class="color-primary h6">2019, Sedan</div>
                        <div>
                            Insured, leather interior, air conditioning, rain sensor, panoramic roof
                        </div>
                        <div class="d-flex justify-content-between py-3">
                            <div class="border border-warning p-2 mx-2 text-center" style="width: 30%;">
                                <div class="text-center">
                                    <mat-icon class="fs-2 color-primary">event_seat</mat-icon>
                                </div>
                                <div class="h6">5 Seats</div>
                            </div>
                            <div class="border border-warning p-2 mx-2 text-center" style="width: 30%;">
                                <div class="text-center">
                                    <mat-icon class="fs-2 color-primary">local_gas_station</mat-icon>
                                </div>
                                <div class="h6">Diesel</div>
                            </div>
                            <div class="border border-warning p-2 mx-2 text-center" style="width: 30%;">
                                <div class="text-center">
                                    <mat-icon class="fs-2 color-primary">luggage</mat-icon>
                                </div>
                                <div class="h6">5 Luggage</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card text-start border-0 mat-elevation-z1 p-3 mx-2 mt-2">
                    <img src="../../../assets/lincon.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="h5">Lincon</div>
                        <div class="color-primary h6">2019, Sedan</div>
                        <div>
                            Insured, leather interior, air conditioning, rain sensor, panoramic roof
                        </div>
                        <div class="d-flex justify-content-between py-3">
                            <div class="border border-warning p-2 mx-2 text-center" style="width: 30%;">
                                <div class="text-center">
                                    <mat-icon class="fs-2 color-primary">event_seat</mat-icon>
                                </div>
                                <div class="h6">5 Seats</div>
                            </div>
                            <div class="border border-warning p-2 mx-2 text-center" style="width: 30%;">
                                <div class="text-center">
                                    <mat-icon class="fs-2 color-primary">local_gas_station</mat-icon>
                                </div>
                                <div class="h6">Diesel</div>
                            </div>
                            <div class="border border-warning p-2 mx-2 text-center" style="width: 30%;">
                                <div class="text-center">
                                    <mat-icon class="fs-2 color-primary">luggage</mat-icon>
                                </div>
                                <div class="h6">5 Luggage</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card text-start border-0 mat-elevation-z1 p-3 m-x2" mt-2>
                    <img src="../../../assets/GMC.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="h5">GMC</div>
                        <div class="color-primary h6">2019, Sedan</div>
                        <div>
                            Insured, leather interior, air conditioning, rain sensor, panoramic roof
                        </div>
                        <div class="d-flex justify-content-between py-3">
                            <div class="border border-warning p-2 mx-2 text-center" style="width: 30%;">
                                <div class="text-center">
                                    <mat-icon class="fs-2 color-primary">event_seat</mat-icon>
                                </div>
                                <div class="h6">5 Seats</div>
                            </div>
                            <div class="border border-warning p-2 mx-2 text-center" style="width: 30%;">
                                <div class="text-center">
                                    <mat-icon class="fs-2 color-primary">local_gas_station</mat-icon>
                                </div>
                                <div class="h6">Diesel</div>
                            </div>
                            <div class="border border-warning p-2 mx-2 text-center" style="width: 30%;">
                                <div class="text-center">
                                    <mat-icon class="fs-2 color-primary">luggage</mat-icon>
                                </div>
                                <div class="h6">5 Luggage</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <hr class="w-50 fw-bold mx-auto">
    <hr class="w-75 fw-bold mx-auto">
    <hr class="w-50 fw-bold mx-auto">

    <div class="container our-services mt-3 text-center">
        <div class="h4">Our Services</div>
        <div class="w-50 mx-auto">
            <hr class="w-25 color-primary mx-auto">

        </div>
        <div class="h6">THE BOSTON AIRPORT LIMOUSINE SERVICE INCLUDES </div>
        <div class="d-flex flex-wrap justify-content-center">
            <div class="custom-card">
                <img src="../../../assets/airport-service.jpeg">
                <div class="title h3 text-white">Airport Transfer Services</div>
            </div>
            <div class="custom-card">
                <img src="../../../assets/p2p.jpg">
                <div class="title h3 text-white">Point to Point Services</div>

            </div>
            <div class="custom-card">
                <img src="../../../assets/roadshow.jpg">
                <div class="title h3 text-white">Roadshow Services</div>

            </div>
            <div class="custom-card">
                <img src="../../../assets/corporate-limo.jpg">
                <div class="title h3 text-white">Corporate Limousine Services</div>

            </div>
            <div class="custom-card">
                <img src="../../../assets/prom-limo.jpg">
                <div class="title h3 text-white">Prom Limousine Services</div>

            </div>
        </div>
        <hr class="w-50 fw-bold mx-auto">
        <hr class="w-75 fw-bold mx-auto">
        <hr class="w-50 fw-bold mx-auto">
        <div class="container about-us mt-5">
            <div class="row flex-wrap">
                <div class="col-12 col-sm-5">
                    <img src="../../../assets/child_seat.jpeg" class="mw-100" alt="">
                </div>
                <div class="col-12 col-sm-7 text-center">
                    <div class="h4">Why chose child seats with us?</div>
                    <hr class="w-25 color-primary mx-auto">
                    <div class="h6 lh-lg">
                        <div class="h5 text-start lh-base"><span class=" bg-success text-white p-2">We are the safest
                                choice for your children, let’s know why:</span></div>
                        <ul class="text-start">
                            <li>We only hire well qualified drivers.</li>
                            <li>Latest, well-maintained fleet of cars.</li>
                            <li>Accessible in major cities.</li>
                            <li>Pay by cash or by credit card.</li>
                            <li>Online booking facility.</li>
                            <li>24×7 hours on-road assistance anytime you need it.</li>
                            <li>Plenty of options available in cars and other vehicles.</li>
                            <li>Best price in the USA.</li>
                            <li>Our cars are hygienic and have the most innovative and sophisticated technology.</li>
                            <li>Easy options to cancel and change your car online quickly and easily.</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <hr class="w-50 fw-bold mx-auto">
        <hr class="w-75 fw-bold mx-auto">
        <hr class="w-50 fw-bold mx-auto">
        <div class="container about-us mt-5">

            <div class="h4">Why chose us?</div>
            <div class="w-50 mx-auto">
                <hr class="w-25 color-primary mx-auto">
            </div>
            <div class="h6 lh-lg">
                Hire the personalised limousine car rides from the Boston Airport Limousine service and travel
                comfortably for your every trip. We are a professional transportation company with years of experience.
                Our experts staff carefully plan your every trip with us making sure that all your needs are properly
                taken care of. Special arrangements are made for your airport transfer service with the Boston Airport
                Limousine. Our limousine rides drive you to your destination comfortably on time and in style. Next time
                when ever make any trip to Boston Logan Airport or any other airport of Massachusetts, United States.
                Book the car service from Boston Airport Limousine because we are your ideal solution for your every
                transportation problem. Our incredible car service include shuttle van rides. We also provide you with
                prom limousine for your prom night party.

            </div>

        </div>
        <hr class="w-50 fw-bold mx-auto">
        <hr class="w-75 fw-bold mx-auto">
        <hr class="w-50 fw-bold mx-auto">
        <div class="container about-us mt-5">
            <div class="row flex-wrap">
                <div class="col-12 col-sm-5">
                    <img src="../../../assets/sprinter.png" class="mw-100" alt="">
                </div>
                <div class="col-12 col-sm-7 text-center">
                    <div class="h4">Sprinter Van</div>
                    <hr class="w-25 color-primary mx-auto">
                    <div class="h6 lh-lg">
                        The Boston Airport Limousine also provides you with Luxury Sprinter van or shuttle van to travel
                        in a larger group. These Sprinter vans provide you with lots of accommodation facilities so you
                        travel comfortably with your friends or family. A ride for spending your vacation trip some time
                        alone with loved ones exploring your favourite places. The Mercedes Sprinter van has all the
                        facilities needed to have a safe and comfortable time travelling. Book the sprinter van from the
                        Boston Airport Limousine to spend some time privately with your friends or family. Get to your
                        location privately with our Sprinter van rides. Ride that fits your travel needs a one stop
                        solution is available only at the Boston Airport Limousine. We provide you with Sprinter ride
                        for your perfect picnic plans.
                    </div>
                </div>
            </div>

        </div>

        <hr class="w-50 fw-bold mx-auto">
        <hr class="w-75 fw-bold mx-auto">
        <hr class="w-50 fw-bold mx-auto">
        <div class="container about-us my-5">
            <div class="h4">Commitment to Protect You</div>
            <hr class="w-25 color-primary mx-auto">
            <div class="h6 lh-lg">
                Trust us when we say we promise to take care of your hygiene and cleanliness in the difficult times of
                COVID-19. All the cars provided by us are GPS enabled and sanitized on a daily basis. We also provide
                hassle-free baby seats with luxury car service.
            </div>
        </div>
    </div>