<div class="sticky-top">
    <div class="nav-top d-flex bg-dark text-light justify-content-between">
        <a class="navbar-brand p-2" [routerLink]="[ '/']">
            <img src="../../../assets/logo.jpeg">
        </a>
        <div class="testimonial-section align-self-center d-none d-sm-block">
            <figure class="review">
                <blockquote class="blockquote">
                    <p>I appreciate the efforts done by Booking website to ease my journeys.</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    Joseph Andrew
                </figcaption>
            </figure>
        </div>
        <div class="me-3 mt-2 d-flex flex-column">
            <div class="fw-bold">Need assistance booking a ride?</div>
            <a href="tel:+1(212)366-6600" class="text-decoration-none">
                <div class="fw-bold color-primary">CALL US +1 (212) 366-6600</div>
            </a>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="flex-grow-1"></div>
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link fs-6" aria-current="page" [routerLink]="[ '/']">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-6" [routerLink]="[ '/our-fleets']">Our Fleets</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-6" [routerLink]="[ '/our-services']">Our Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-6" [routerLink]="[ '/about-us']">About Us</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link fs-6" [routerLink]="[ '/terms-conditions-privacy-policy']">Terms and Conditions & Privacy policy</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link fs-6" [routerLink]="[ '/contact-us']">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>