.navbar-nav .nav-item .nav-link {
  color: var(--primary-color);
  opacity: 0.6;
}

.active .nav-link {
  opacity: 1 !important;
}

.nav-top {
  position: relative;
  z-index: 100;
}

:host::ng-deep.navbar-brand {
  max-height: 4rem !important;
  overflow: hidden;
  img {
    max-height: 100%;
    object-fit: contain;
    object-position: 0 -0.5rem;
    max-width: 5rem;
  }
}

:host::ng-deep.navbar {
  background-color: rgb(0, 0, 0) !important;
  box-shadow: 0 1px 15px -8px darkgrey;
}

.review {
  position: relative;
  &::after,
  &::before {
    position: absolute;
    top: 0;
    bottom: 0;
    font-size: 2rem;
  }
  &::after {
    content: "❞";
    right: -2rem;
  }
  &::before {
    content: "❝";
    left: -2rem;
  }
}
