<div class="container mt-4 text-center">
    <div class="h4">
        About Us
    </div>
    <div class="w-50 mx-auto">
        <hr class="w-25 color-primary mx-auto">
    </div>
    <div class="img mb-3" [routerLink]="[ '/']">
        <img src="assets/about-us.webp" class="pic mw-100" style="max-height: 50vh;" alt="">
        <img src="assets/about-us.webp" class="banner" alt="">
    </div>
    <div class="h6 lh-lg">
        The Boston Airport Limousine serves Boston city of Massachusetts, United States of America is renowned for
        providing its clients with safe quality rides. For our clients we make constant effort so we can provide them
        with car service they can be proud of. Our limousine car services are reliable and safe for clients so they are
        convenient in our care. The Boston Airport Limousine has served the transportation industry for years. With
        their year of experience, they know how to make their clients satisfied with the service. When having a late
        night prom night, hire our prom limousine ride where our drivers will personally drive you to the venue and also
        bring you back. With the personalised prom limousine your safety will be properly taken care of. The Boston
        Airport Limousine provides excellent car service with every ride.
    </div>
</div>
<div class="container mt-4 text-center">
    <div class="h4">
        Safe and Secure Payments
    </div>
    <div class="w-50 mx-auto">
        <hr class="w-25 color-primary mx-auto">
    </div>
    <div class="h6 lh-lg">
        Pay securely with a smart paying method where we protect your sensitive details from any misuse. Pay for the
        limousine ride with the method that you like. Use cash payments, card payment or online methods. With every
        payment method you make you can be stress free because we have SSL secured payment. That encrypts your details
        so that no third party can encode them. And your transaction details are secure with us. With an aim to provide
        convenient transport facility to its clients the Boston Airport Limousine serves its clients with our premium
        quality rides.
    </div>
</div>
<div class="container mt-4 text-center">
    <div class="h4">
        Shuttle Vans
    </div>
    <div class="w-50 mx-auto">
        <hr class="w-25 color-primary mx-auto">
    </div>
    <div class="h6 lh-lg">
        Get your private Shuttle van service to make a trip around with your group whether for entertainment or business
        purposes. For our clients we can go the extra mile to meet their needs. With our shuttle van we make your travel
        enjoyable for you. We provide you your idealp shuttle van ride here at the Boston Airport Limousine.
    </div>
</div>