<div class="container our-fleet">
    <div class="h4 text-center my-3">Our Fleets</div>
    <hr>
    <div class="text-center">
    <img src="../.././../assets/cars.png" class='mw-100 rounded' style="max-height: 25rem;" alt="">

    </div>
    <div class="h6 lh-lg text-center my-3">
        The Boston Airport Limousine has the best model rides in their fleet that provide you with a variety of options
        to choose from. We have limousine rides, Shuttle van rides and rides of the latest style available for your
        every purpose. Get the rides of every size to accompany you for your necessities. Choose the ride that you
        desire and the ride that you need. Our limousine rides of latest technology are always available to serve you
        for your every travel needs. These rides are reliable and comfortable so that you will not have to worry about
        your travel problems. The Boston Airport Limousine is the perfect solution for all your travel needs. Whether
        travelling alone or in large groups we provide you with the ride that best fits your needs for every occasion.
        Get your every travel planned safely together with the Boston Airport Limousine.
    </div>
    <hr>
    <div class="h5 text-center my-3">Check out our wide range of luxury model rides available in our fleet.</div>
    <div class="card-group d-flex flex-wrap mb-3">
        <div class="card text-start border-0 mat-elevation-z1 p-3 mx-2 mt-2">
            <img src="../../../assets/cadillac.png" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="h5">Toyota Camry</div>
                <div class="color-primary h6">2019, Sedan</div>
                <div>
                    Insured, leather interior, air conditioning, rain sensor, panoramic roof
                </div>
                <div class="d-flex justify-content-between py-3">
                    <div class="border border-warning p-2 mx-2 text-center" style="width: 32%;">
                        <div class="text-center">
                            <mat-icon class="fs-2 color-primary">event_seat</mat-icon>
                        </div>
                        <div class="h6">3 Seats</div>
                    </div>
                    <div class="border border-warning p-2 mx-2 text-center" style="width: 32%;">
                        <div class="text-center">
                            <mat-icon class="fs-2 color-primary">local_gas_station</mat-icon>
                        </div>
                        <div class="h6">Diesel</div>
                    </div>
                    <div class="border border-warning p-2 mx-2 text-center" style="width: 32%;">
                        <div class="text-center">
                            <mat-icon class="fs-2 color-primary">luggage</mat-icon>
                        </div>
                        <div class="h6">3 Luggage</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card text-start border-0 mat-elevation-z1 p-3 mx-2 mt-2">
            <img src="../../../assets/lincon.png" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="h5">Toyota Highlander</div>
                <div class="color-primary h6">2019, Sedan</div>
                <div>
                    Insured, leather interior, air conditioning, rain sensor, panoramic roof
                </div>
                <div class="d-flex justify-content-between py-3">
                    <div class="border border-warning p-2 mx-2 text-center" style="width: 32%;">
                        <div class="text-center">
                            <mat-icon class="fs-2 color-primary">event_seat</mat-icon>
                        </div>
                        <div class="h6">4 Seats</div>
                    </div>
                    <div class="border border-warning p-2 mx-2 text-center" style="width: 32%;">
                        <div class="text-center">
                            <mat-icon class="fs-2 color-primary">local_gas_station</mat-icon>
                        </div>
                        <div class="h6">Diesel</div>
                    </div>
                    <div class="border border-warning p-2 mx-2 text-center" style="width: 32%;">
                        <div class="text-center">
                            <mat-icon class="fs-2 color-primary">luggage</mat-icon>
                        </div>
                        <div class="h6">4 Luggage</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card text-start border-0 mat-elevation-z1 p-3 m-x2 mt-2">
            <img src="../../../assets/GMC.png" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="h5">Chevrolet Suburban</div>
                <div class="color-primary h6">2019, Sedan</div>
                <div>
                    Insured, leather interior, air conditioning, rain sensor, panoramic roof
                </div>
                <div class="d-flex justify-content-between py-3">
                    <div class="border border-warning p-2 mx-2 text-center" style="width: 32%;">
                        <div class="text-center">
                            <mat-icon class="fs-2 color-primary">event_seat</mat-icon>
                        </div>
                        <div class="h6">6 Seats</div>
                    </div>
                    <div class="border border-warning p-2 mx-2 text-center" style="width: 32%;">
                        <div class="text-center">
                            <mat-icon class="fs-2 color-primary">local_gas_station</mat-icon>
                        </div>
                        <div class="h6">Diesel</div>
                    </div>
                    <div class="border border-warning p-2 mx-2 text-center" style="width: 32%;">
                        <div class="text-center">
                            <mat-icon class="fs-2 color-primary">luggage</mat-icon>
                        </div>
                        <div class="h6">6 Luggage</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card text-start border-0 mat-elevation-z1 p-3 m-x2 mt-2">
            <img src="../../../assets/GMC.png" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="h5">Mini Van</div>
                <div class="color-primary h6">2019, Van</div>
                <div>
                    Insured, leather interior, air conditioning, rain sensor, panoramic roof
                </div>
                <div class="d-flex justify-content-between py-3">
                    <div class="border border-warning p-2 mx-2 text-center" style="width: 32%;">
                        <div class="text-center">
                            <mat-icon class="fs-2 color-primary">event_seat</mat-icon>
                        </div>
                        <div class="h6">6 Seats</div>
                    </div>
                    <div class="border border-warning p-2 mx-2 text-center" style="width: 32%;">
                        <div class="text-center">
                            <mat-icon class="fs-2 color-primary">local_gas_station</mat-icon>
                        </div>
                        <div class="h6">Diesel</div>
                    </div>
                    <div class="border border-warning p-2 mx-2 text-center" style="width: 32%;">
                        <div class="text-center">
                            <mat-icon class="fs-2 color-primary">luggage</mat-icon>
                        </div>
                        <div class="h6">6 Luggage</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>